.main-header {
    background-color: white;
   height:6rem;
   border-bottom: 1px solid rgb(226, 226, 226);
   box-shadow: $boxShad1;
img{
    height: 35px;
    margin-inline-start: 2rem;
}
h1{
    font-size: 1.8rem;
    
}
}
